function Main.main 5
push constant 100
pop local 0
push constant 100
pop local 1
push constant 80
pop local 2
push local 2
push constant 3
call Math.divide 2
pop local 3
push local 0
push local 1
push local 2
call Screen.drawCircle 3
pop temp 0
push constant 0
pop local 4
label WHILE_EXP0
push local 4
push local 3
lt
not
if-goto WHILE_END0
push constant 1000
push constant 24
call Math.divide 2
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push local 2
add
push local 1
push local 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push local 2
add
push local 1
push local 4
sub
call Screen.drawLine 4
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP0
label WHILE_END0
push local 3
pop local 4
label WHILE_EXP1
push local 4
push constant 1
neg
gt
not
if-goto WHILE_END1
push constant 1000
push constant 24
call Math.divide 2
call Sys.wait 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push local 2
add
push local 1
push local 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push local 1
push local 0
push local 2
add
push local 1
push local 4
sub
call Screen.drawLine 4
pop temp 0
push local 4
push constant 1
sub
pop local 4
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
